@model AllegroExtended.Data.Models.Permission
@using AllegroExtended.Common
@using Microsoft.AspNet.Identity

@{
    Layout = null;
}

<tr>
    <td>@this.ViewBag.Row</td>
    <td>@Model.ClassEvent.Name</td>
    <td>@Model.IsReadOnly</td>
    <td>
        <a href="/Administration/Group/DeletePermission/@Model.Id" class="btn btn-danger">Delete</a>
    </td>
</tr>