@{
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-lg-pull-1">
        @Html.Partial("_AdminPartial")
    </div>
    <div class="col-lg-9">
        @RenderBody()
    </div>
</div>

@section Scripts{
    @RenderSection("scripts", required: false)
}