@model AllegroExtended.Web.Areas.Users.ViewModels.AccountRequestViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="modal show">
    <div class="modal-dialog">
        <section id="loginForm" class="modal-content">
            @Html.EditorFor(m => m)
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery.getJSON("/administration/group/allasync", "", function (data) {
            jQuery(data).each(function (index, element) {
                var newGroupElement = $("<option value=\"" + element.Id + "\">" + element.Name + "</option>" );
                $("#dd-groups").append(newGroupElement);
            });
        });
    </script>
}