@model AllegroExtended.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-10">
            <h1>Allegro Scheduler</h1>
            <p>Welcome to the Allegro Scheduler. An online extention for the Allegro platform.</p>
            <hr />
            <i class="text-info">You can view and/or edit only events visible to you according to the permissons group you are in.</i>
        </div>
        <div class="col-lg-2">
            <img src="~/Content/allegro-development-squarelogo-1452869183027.png" class="img-circle"/>
        </div>
    </div>
</div>